<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет, Марс!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-4">Жди нас, Марс!</h1>
        <img src="{{ url_for('static', filename='img/mars.png') }}" alt="Марс" class="img-fluid my-4" width="600">
        <div class="poem-container">
            <p class="line dark-blue-text"><span>Человечество вырастает из детства.</span></p>
            <p class="line green-text"><span>Человечеству мала одна планета.</span></p>
            <p class="line blue-text"><span>Мы сделаем обитаемыми безжизненные пока планеты.</span></p>
            <p class="line yellow-text"><span>И начнем с Марса!</span></p>
            <p class="line purple-text"><span>Присоединяйся!</span></p>
        </div>
    </div>
</body>
</html>